.social {
  display: flex;
  gap: 18px;

  li {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--color-green-0);
      transition: fill 0.3s;
      cursor: pointer;

      &:hover {
        fill: var(--color-white-200);
      }
    }
  }
}
