.container {
  width: 300px;
  height: 114px;
  padding: 16px;
  background-color: var(--color-white-200);
  position: absolute;
  right: 20px;
  top: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    & > span {
      color: var(--color-green-0);
    }
  }

  .btn {
    align-self: flex-end;

    a {
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      line-height: 12px;
      width: 92px;
      height: 18px;
      cursor: pointer;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    right: 30px;
    top: 350px;
  }

  .arrow {
    width: 170px;
  }
}

@media (max-width: 932px) {
  .container {
    width: 260px;
    height: 100px;
    padding: 12px;
    right: 30px;
    top: 325px;
  }

  .btn {
    a {
      font-size: 12px;
      width: 92px;
      height: 18px;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
@media (max-width: 932px) {
  .container {
    top: 250px;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 644px) {
  .container {
    width: 225px;
    height: 100px;
    padding: 8px;

    top: 450px;
  }

  .text {
    font-size: 12px;
  }

  .btn {
    margin-top: 8px;
  }
}
