.header {
  display: flex;
  height: 64px;
  padding-top: 18px;
  margin-bottom: 18px;
  width: 100%;
  align-items: center;
  z-index: 100;
  width: 100%;

  @media (max-width: 1440px) {
    display: none;
  }
}
