.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 64px;
  padding-top: 18px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  .items {
    gap: 24px;
    align-items: center;
    display: flex;
  }

  .burger {
    display: none;

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}
