.form {
  width: 340px;

  span {
    font-size: 18px;
    font-weight: 700;
  }

  p {
    margin-top: 14px;
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  input[type='text'] {
    padding: 17px 54px 17px;
    border: 1px solid var(--color-grey-0);

    &:hover {
      border: 1px solid var(--color-white-200);
    }
  }

  button {
    margin-top: 16px;
    padding: 20px 128px;
  }
}

@media (max-width: 1440px) {
  .form {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 0 12px;
    align-items: center;
    margin-top: 72px;

    & > span,
    & > p {
      display: none;
    }

    input[type='text'] {
      margin: 0;
      padding: 14px 54px;
      font-size: 14px;
    }

    button {
      margin: 0;
      padding: 12px 54px;
    }
  }
}

@media (max-width: 644px) {
  .form {
    flex-direction: column;
    gap: 10px 0;
    margin-top: 0;

    span,
    svg {
      width: 16px;
      left: 12px;
    }

    input[type='text'] {
      margin: 0;
      width: 200px;
      padding: 10px 36px;
      font-size: 10px;
    }

    button {
      margin: 0;
      width: 200px;
      padding: 7px 75px;
    }
  }
}
