.content {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  gap: 0 12px;
  align-items: center;

  span {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.42px;
  }
}

.infoList {
  width: 418px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
  list-style: disc;

  li {
    color: var(--color-white-200);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  width: 160px;

  a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--color-green-0);
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 40px;

  li {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--color-green-0);
      transition: fill 0.3s;
      cursor: pointer;

      &:hover {
        fill: var(--color-white-200);
      }
    }
  }
}

@media (max-width: 1440px) {
  .content {
    width: 100%;
    flex-wrap: wrap;
  }

  .infoList li {
    font-size: 14px;
  }
}

@media (max-width: 644px) {
  .content {
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .header span {
    font-size: 18px;
  }

  .infoList {
    display: none;
  }

  .pages {
    gap: 14px;

    a {
      text-align: center;
    }
  }
}
