.content {
  display: flex;
}

.header {
  display: flex;
  gap: 0 12px;
  align-items: center;

  & span {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.42px;
  }
}

.logo {
  height: 44px;
  width: 44px;
  background-color: #ebf3d4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & svg {
    fill: #8baa36;
    width: 30px;
    height: 30px;
  }
}

.infoList {
  width: 418px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
  list-style: disc;

  & li {
    color: #fafafa;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

.pages {
  margin-left: 195px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  width: 160px;

  & li {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #8baa36;
    }
  }
}

.social {
  display: flex;
  gap: 18px;
  margin-top: 95px;
  margin-left: 170px;

  & svg {
    width: 20px;
    height: 20px;
    fill: #8baa36;
    transition: fill 0.3s;
    cursor: pointer;

    &:hover {
      fill: #fafafa;
    }
  }
}
