.infoModal {
  min-width: 500px;
  min-height: 425px;
  position: absolute;
  top: 60px;
  left: -228px;
  background-color: #f0f0f0; /*var(--color-white-200);*/
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px;
  z-index: 100;

  .closeBtn {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }
  }

  button {
    margin-top: 32px;
    padding: 21px 142px;
  }

  input[type='text'] {
    color: var(--color-dark-100);
    padding: 16px 50px;
    border: 1px solid var(--color-grey-0);
    opacity: 0.8;
    width: 400px;
    &:focus {
      border-color: var(--color-dark-100);
    }
  }
}

.fileInput {
  position: relative;
  height: 103px;
  width: 103px;
  border-radius: 100px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 52px;

  svg {
    width: 48px;
    height: 48px;
    stroke: #c4c4c4;
  }

  svg[id='plus'] {
    bottom: -2px;
    right: 10px;
    position: absolute;
    width: 24px;
    height: 24px;
    fill: var(--color-green-0);
    stroke: var(--color-white-200);
  }

  input {
    display: none;
  }
}
