.logoutModal {
  width: 500px;
  height: 215px;
  padding: 50px;
  background-color: var(--color-white-200);
  border-radius: 30px;

  .title {
    display: block;
    margin-top: 2px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  .close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .buttons {
    margin-top: 32px;
    display: flex;
    gap: 0 16px;

    button {
      width: 192px;
      height: 60px;
    }
  }
}

@media (max-width: 644px) {
  .logoutModal {
    width: 330px;
    height: 180px;
    padding: 40px 44px;

    .title {
      display: block;
      margin-top: 6px;
      font-size: 14px;
    }

    .close {
      top: 18px;
      right: 18px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .buttons {
      margin-top: 24px;
      gap: 0 8px;

      button {
        width: 138px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
}
