.container {
  position: relative;
  // width: 100%;
}

.input {
  border-radius: 4px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 50px;
  width: 100%;
}

.leftIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);

  svg {
    width: 24px;
    height: 24px;
  }
}

.input[aria-invalid='true'] {
  border: 1px solid red;
}

.input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-white-200) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.rightIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    width: 20px;
    height: 20px;
  }
}

.error {
  position: absolute;
  z-index: 100;
  text-align: center;
  color: red;
  left: 0;
  bottom: -20px;
  font-size: 12px;
}

@media (max-width: 644px) {
  .input {
    padding: 10px 36px;
  }

  .leftIcon {
    left: 14px;
    span,
    svg {
      width: 16px;
    }
  }

  .rightIcon {
    right: 14px;
    span,
    svg {
      width: 16px;
    }
  }
}
