.container {
  position: relative;
  // width: 100%;
}

.input {
  border-radius: 4px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.leftIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);

  svg {
    width: 24px;
    height: 24px;
  }
}

.rightIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    width: 20px;
    height: 20px;
  }
}
