.container {
  min-height: 880px;
}

.search {
  width: 510px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type='text'] {
    background-color: var(--color-white-0);
    color: var(--color-dark-0);
  }
}
