.recipeItem {
  width: 300px;
  height: 323px;
  position: relative;
}

.recipeImg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.recipeName {
  text-align: center;
  position: absolute;
  background-color: var(--color-white-0);
  border-radius: 8px;
  width: 90%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 23px;
  left: 16px;
}
