@import './reset.scss';

:root {
  --color-white-0: #fff;
  --color-white-100: #f0f0f0;
  --color-white-200: #fafafa;

  --color-grey-0: #bdbdbd;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #d9d9d9;
  --color-grey-300: #4e4e4e;
  --color-grey-400: #3e4462;
  --color-grey-500: #e0e0e0;

  --color-green-0: #8baa36;
  --color-green-100: #3cbc81;

  --color-lightgreen-0: #ebf3d4;

  --color-dark-0: #22252a;
  --color-dark-100: #23262a;
  --color-dark-200: #1e1f28;
  --color-dark-300: #2a2c36;
  --color-dark-300: #001833;

  --color-black-0: #000000;

  --color-red-0: #e74a3b;

  // /* ***************** */
  // --breakpoint-xxl: 1440px;
  // --breakpoint-xl: 932px;
  // --breakpoint-md: 768px;
  // --breakpoint-sm: 644px;
}
