.notFoundWrapper {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.48px;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .notFoundWrapper {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.48px;
    opacity: 0.5;
  }
}
