.logo {
  height: 44px;
  width: 44px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.3s;

  svg {
    width: 30px;
    height: 30px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.header {
  background-color: var(--color-green-0);

  svg {
    fill: var(--color-white-200);
  }
}

.footer {
  background-color: var(--color-lightgreen-0);

  svg {
    fill: var(--color-green-0);
  }
}

@media (max-width: 768px) {
  .logo {
    height: 40px;
    width: 40px;
    border-radius: 10px;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}
