.container {
  min-height: 1000px;
  margin-top: -64px;
  position: relative;
}

.decor1 {
  position: absolute;
  filter: blur(4.5px);
  left: -225px;
  top: -65px;
  height: 460px;
}

.main {
  display: flex;
  padding: 118px 0;
  gap: 0 73px;
}

.content {
  margin-top: 124px;
  overflow: hidden;
  width: 510px;
}

.title {
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;

  span {
    color: var(--color-green-0);
  }
}

.text {
  margin-top: 14px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.dishLeaves {
  position: absolute;
  height: 600px;
  right: -74px;
  top: 200px;
  filter: blur(2px);
  z-index: -8;
}

@media (max-width: 1440px) {
  .main {
    gap: 0 20px;
  }
  .content {
    margin-top: 62px;
  }

  .title {
    font-size: 80px;
    line-height: 80px;
  }

  .text {
    font-size: 16px;
  }

  .dishLeaves {
    height: 550px;
    top: 150px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 60px;
    line-height: 60px;

    letter-spacing: -0.36px;
  }

  .text {
    font-size: 16px;
  }

  .dishLeaves {
    height: 500px;
    top: 100px;
  }
}

@media (max-width: 932px) {
  .decor1 {
    left: -125px;
    height: 250px;
    top: 45px;
  }

  .text {
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .dishLeaves {
    top: 200px;
    height: 400px;
    right: -32px;
  }
}

@media (max-width: 768px) {
  .decor1 {
    display: none;
  }

  .content {
    margin-top: 42px;
  }

  .title {
    font-size: 50px;
    line-height: 50px;
  }

  .text {
    margin-top: 6px;
    font-size: 12px;
  }

  .dishLeaves {
    height: 300px;
  }
}

@media (max-width: 644px) {
  .content {
    margin-top: 12px;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 303px;
    text-align: center;
  }

  .text {
    font-size: 14px;
  }

  .dish {
    width: 350px;
  }

  .dishLeaves {
    top: 375px;
    right: 80px;
    height: 60vw;
  }
}
