.menu {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  width: 100%;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.categoriesList {
  margin-top: 25px;
  cursor: pointer;
  width: 99%;
  overflow-x: scroll;
  height: 75px;
  display: flex;
  align-items: center;
  gap: 0 55px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.underline {
  position: absolute;
  left: -5%;
  bottom: 0px;
  height: 1px;
  width: 105%;
  background-color: var(--color-grey-500);
  z-index: -10;
}

.categoryName {
  position: relative;
  color: var(--color-grey-0);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  height: 100%;

  &.active {
    color: var(--color-green-0);

    &::after {
      content: '';
      position: absolute;
      left: -10%;
      bottom: 0;
      height: 2px;
      width: 120%;
      background-color: var(--color-green-0);
    }
  }

  &:hover {
    color: var(--color-green-0);
  }
}

@media (max-width: 1024px) {
  .menu {
    width: 100%;
  }

  .categoriesList {
    margin-top: 0;
  }

  .underline {
    width: 105%;
  }
}

@media (max-width: 576px) {
  .categoriesList {
    gap: 0 28px;
  }

  .categoryName {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 375px) {
}
