.copyright {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;

  span {
    color: var(--color-dark-0);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.14px;
    opacity: 0.5;
  }
}

.decor {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(2px);
}

@media (max-width: 644px) {
  .copyright {
    height: 66px;

    span {
      font-size: 10px;
    }
  }

  .decor {
    width: 160px;
  }
}
