.copyright {
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}

.copyright span {
  color: #22252a;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.14px;
  opacity: 0.5;
}
