.footer {
  min-height: 528px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main {
  min-height: 414px;
  padding: 54px 0 50px;
  color: var(--color-white-200);
  background: var(--color-dark-0) center center/cover no-repeat;

  @media (max-width: 1440px) {
    min-height: 424px;
    padding-top: 50px;
  }

  @media (max-width: 644px) {
    min-height: 424px;
    padding: 28px 0 18px;
  }
}

