.footer {
  min-height: 492px;
  width: 100%;
  position: absolute;
}

.main {
  min-height: 414px;
  padding: 54px 0 50px;
  color: var(--color-white-200);
  background: var(--color-dark-0) center center/cover no-repeat;
}

@media (max-width: 1440px) {
  .main {
    min-height: 424px;
    padding-top: 50px;
  }
}

@media (max-width: 644px) {
  .main {
    min-height: 424px;
    padding: 28px 0 18px;
  }
}
