.paginator {
  margin: 70px auto 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 24px;
  width: fit-content;
  height: 55px;
  background-color: var(--color-white-200);
  border-radius: 26px;
  box-shadow: 0px 4px 4px 0px rgba(135, 135, 135, 0.2);
}

.arrow {
  height: 25px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--color-white-200);

  svg {
    text-align: center;
    height: 25px;
    width: 25px;
    stroke: var(--color-grey-0);
  }
}

.pages {
  display: flex;
  width: 100%;
  gap: 0 24px;
}

@media (max-width: 768px) {
  .paginator {
    padding: 0 12px;
    gap: 12px;
  }
  .pages {
    gap: 0 12px;
  }
}

@media (max-width: 500px) {
  .paginator {
    padding: 0 6px;
    gap: 10px;
    height: 50px;
  }

  .pages {
    font-size: 12px;
    gap: 0 6px;
  }
}

@media (max-width: 375px) {
  .paginator {
    height: 40px;
    margin-top: 35px;
    gap: 0;
  }

  .pages {
    gap: 0;
  }
}
