.wrapper {
  padding: 100px 0 200px;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: var(--color-grey-400);
}

.instructions {
  max-width: 758px;
  display: flex;
  flex-direction: column;
  list-style: none;
  counter-reset: item;
  gap: 20px 0;
}

.step {
  counter-increment: item;
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  letter-spacing: -0.28px;
  color: var(--color-grey-400);

  &:before {
    left: 0px;
    position: absolute;
    content: counter(item);
    background: var(--color-green-0);
    border-radius: 100%;
    color: var(--color-white-200);
    width: 21px;
    height: 21px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }

  &:first-child {
    margin-top: 32px;
  }
}

.preview {
  width: 350px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-left: 25px;
}

@media (max-width: 932px) {
  .wrapper {
    flex-direction: column;
    gap: 50px 0;
  }

  .preview {
    margin-left: 0;
  }
}

@media (max-width: 644px) {
  .instructions {
    width: 95%;
    gap: 14px 0;
  }

  .step {
    font-size: 14px;

    &:before {
      font-size: 12px;
    }
  }
}

@media (max-width: 375px) {
  .wrapper {
    padding: 50px 0 100px;
  }

  .preview {
    max-width: 250px;
    max-height: 250px;
  }
}
