.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  min-height: 768px;
}

.img {
  max-width: 498px;
}

.text {
  margin-top: 32px;
  font-size: 18px;

  b {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .img {
    max-width: 350px;
  }
}

@media (max-width: 375px) {
  .layout {
    min-height: 450px;
  }

  .img {
    max-width: 260px;
  }

  .text {
    margin-top: 16px;
    font-size: 14px;

    b {
      font-size: 18px;
    }
  }
}
