.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  position: relative;
}

@media (max-width: 932px) {
  .wrapper {
    gap: 40px 0;
  }
}

@media (max-width: 644px) {
  .wrapper {
    gap: 18px 0;
  }
}
