.recipesList {
  display: flex;
  gap: 100px 12px;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .recipesList {
    justify-content: space-evenly;
  }
}

@media (max-width: 1000px) {
  .recipesList {
    gap: 0 30px;
  }
}
