.layout {
  background-color: var(--color-white-200);
  display: flex;
  gap: 0 115px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--color-white-200);
  z-index: 12;
  position: relative;
}

.form {
  width: 500px;
  background-color: var(--color-dark-100);
  border-radius: 30px;
  padding: 44px 50px;
  position: relative;

  button {
    width: 400px;
    height: 59px;
    margin-top: 50px;

    &:hover {
      border-color: var(--color-white-200);
    }
  }

  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 32px;
  }

  input {
    border: 1px solid var(--color-grey-300);
    &:focus {
      border-color: var(--color-white-200);
    }
  }

  a {
    position: absolute;
    bottom: -38px;
    left: 250px;
    transform: translateX(-50%);
    text-decoration: underline;
  }
}

.bgImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media (max-width: 1200px) {
  .layout {
    flex-direction: column;

    .img {
      width: 400px;
      height: 359px;
    }

    .bgImg {
      display: none;
    }

    a {
      color: var(--color-dark-100);
    }
  }
}

@media (max-width: 644px) {
  .layout {
    flex-direction: column;

    .img {
      width: 285px;
      height: 250px;
    }

    .form {
      width: 334px;
      height: 315px;
      padding: 28px 32px;

      h2 {
        font-size: 24px;
        margin-bottom: 18px;
      }

      input {
        height: 45px;
        font-size: 14px;
      }
      button {
        margin-top: 28px;
        width: 270px;
        height: 45px;
      }

      a {
        bottom: -38px;
        left: 167px;
        transform: translateX(-50%);
        text-decoration: underline;
        color: var(--color-dark-100);
      }
    }
  }
}
