.btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark-0);
  cursor: pointer;
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.active {
  background-color: var(--color-lightgreen-0);
}

@media (max-width: 375px) {
  .btn {
    width: 22px;
    height: 22px;
  }
}
